footer {
  background-color: var(--neutralBackground);
  color: var(--neutralText);
  padding: 1rem var(--pageMargin);
  margin-top: 3rem;
}

.footer-top,
.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

footer .socials {
  display: flex;
  gap: 1rem;
}
