@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Dosis:wght@200..800&display=swap");

:root {
  --color: #ff6f61;
  --colorText: white;
  --colorBackground: #ffd7c2;
  --colorBackgroundText: #5c4033;

  --background: #faf8f5;
  --surface: #ffffff;
  --text: #4a3b2a;

  --neutral: #bfbfbf;
  --neutralBackground: #f3f3f3;
  --neutralText: #333333;

  --footerBackground: #f2a07c;
  --footerText: #3e2723;

  --fontText: "Bitter", system-ui;
  --fontSpecial: "Dosis", sans-serif;

  --pageMargin: 1rem;
  --maxTextWidth: 100%;
}

* {
  margin: 0;
  padding: 0;
  color: inherit;
  box-sizing: border-box;
  font-family: var(--fontText);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  background-color: var(--background);
}

main {
  flex-grow: 1;
}

.pageMargins {
  padding: 1rem var(--pageMargin);
}

/* icons */
i {
  font-size: 2rem;
}

ul {
  list-style-type: none;
}

h1,
h2 {
  font-family: var(--fontSpecial);
}

h1 {
  padding-bottom: 0.5rem;
  font-size: 2.5rem;
}

h2 {
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}

p {
  padding-bottom: 1rem;
}

.cta-wrapper {
  text-align: center;
  padding: 1.5rem 0rem 1rem;
}

.cta {
  padding: 1rem;
  background: var(--color);
  color: var(--colorText);
  text-decoration: none;
  text-transform: capitalize;
}

@media (min-width: 500px) {
  :root {
    --maxTextWidth: calc((100% - 500px) / 2);
  }
}

@media (min-width: 1000px) {
  :root {
    --pageMargin: calc((100vw - 1000px) / 2);
  }
}
