header {
  padding: 1rem var(--pageMargin);
  display: flex;
  justify-content: space-between;

  background-color: var(--neutralBackground);
  color: var(--neutralBackgroundText);
}

.logo {
  font-size: 2rem;
}
