@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

:root {
  --primary: #715189;
  --on-primary: #ffffff;

  --primary-container: #f2daff;
  --on-primary-container: #2a0c41;

  --secondary: #6e5d0e;
  --on-secondary: #ffffff;

  --secondary-container: #f9e287;
  --on-secondary-container: #221b00;

  --background: #fff7fd;
  --on-background: #1e1a20;

  --outline: #7c757e;

  --surface: #e9dfea;
  --on-surface: #4b454d;

  --header-height: 3rem;
  --main-padding: 1rem;

  --max-width: calc(100% - 2rem);

  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #deb8f7;
    --on-primary: #402357;

    --primary-container: #583a6f;
    --on-primary-container: #f2daff;

    --secondary: #dcc66e;
    --on-secondary: #3a3000;

    --secondary-container: #544600;
    --on-secondary-container: #f9e287;

    --background: #161217;
    --on-background: #e8e0e8;

    --outline: #968e98;

    --surface: #4b454d;
    --on-surface: #cdc3ce;
  }
}

/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sr-only {
  font-size: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  color: var(--text);
  display: block;
}

body {
  background-color: var(--background);
  color: var(--on-background);
}

a {
  color: var(--on-background);
}

.max-width {
  width: var(--max-width);
  margin: auto;
}

.link {
  color: var(--on-background);
}

.link.site::before {
  content: "Github";
}

.link.external::after {
  content: " ⟶";
}

body > section,
main > section {
  padding-bottom: clamp(5rem, 10vmax, 150px);
}

.id-tag {
  position: relative;
  bottom: 0;
}

@media (min-width: 700px) {
  :root {
    --max-width: calc(100% - 5rem);
  }

  .id-tag {
    position: relative;
    bottom: 100px;
  }
}

@media (min-width: 1000px) {
  :root {
    --max-width: calc(100% - 10rem);
  }
}
