<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../wwwroot/css/styles.css" />
    <script type="module" src="scripts.js"></script>
    <link
      rel="stylesheet"
      href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="logo">pinch of yum</div>

      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Recipes</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="pageMargins">
        <div class="section-banner">
          <h1>All Recipes</h1>
          <p>
            Explore our complete collection of recipes, all in one place for
            easy browsing. Get inspired and discover your next favorite dish!
          </p>
        </div>

        <ul class="recipes all">
          <li>
            <a href="#">
              <article class="recipe-preview large">
                <div class="image-wrapper">
                  <img src="../wwwroot/images/recipe.webp" alt="" />
                </div>
                <h3>The Best Soft Chocolate Chip Cookies</h3>
              </article>
            </a>
          </li>
          <li>
            <a href="#">
              <article class="recipe-preview large">
                <div class="image-wrapper">
                  <img src="../wwwroot/images/recipe.webp" alt="" />
                </div>
                <h3>The Best Soft Chocolate Chip Cookies</h3>
              </article>
            </a>
          </li>
          <li>
            <a href="#">
              <article class="recipe-preview large">
                <div class="image-wrapper">
                  <img src="../wwwroot/images/recipe.webp" alt="" />
                </div>
                <h3>The Best Soft Chocolate Chip Cookies</h3>
              </article>
            </a>
          </li>
          <li>
            <a href="#">
              <article class="recipe-preview large">
                <div class="image-wrapper">
                  <img src="../wwwroot/images/recipe.webp" alt="" />
                </div>
                <h3>The Best Soft Chocolate Chip Cookies</h3>
              </article>
            </a>
          </li>
          <li>
            <a href="#">
              <article class="recipe-preview large">
                <div class="image-wrapper">
                  <img src="../wwwroot/images/recipe.webp" alt="" />
                </div>
                <h3>The Best Soft Chocolate Chip Cookies</h3>
              </article>
            </a>
          </li>
          <li>
            <a href="#">
              <article class="recipe-preview large">
                <div class="image-wrapper">
                  <img src="../wwwroot/images/recipe.webp" alt="" />
                </div>
                <h3>The Best Soft Chocolate Chip Cookies</h3>
              </article>
            </a>
          </li>
          <li>
            <a href="#">
              <article class="recipe-preview large">
                <div class="image-wrapper">
                  <img src="../wwwroot/images/recipe.webp" alt="" />
                </div>
                <h3>The Best Soft Chocolate Chip Cookies</h3>
              </article>
            </a>
          </li>
        </ul>
      </section>
    </main>

    <footer>
      <div class="footer-top">
        <nav>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Recipes</a></li>
          </ul>
        </nav>
      </div>

      <hr />

      <div class="footer-top">
        <p>© 2024 Pinch of Yum</p>
        <ul>
          <li>
            <a href="#"><i class="lab la-instagram"></i></a>
            <a href="#"><i class="lab la-pinterest"></i></a>
            <a href="#"><i class="lab la-facebook"></i></a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
